@import 'libs/bootstrap-reboot.min';
@import 'libs/fonts';

@import 'base/variables';
@import 'base/mixins';
@import 'blocks/title';
@import 'blocks/img-location';
@import 'blocks/promo';
@import 'blocks/btn';
@import 'blocks/sidapanel';
@import 'blocks/menu';
@import 'blocks/about-me';
@import 'blocks/resume';

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 1140px;
    margin: 0 auto;
}